@page "/"
@using static BlazorMovies.Client.Shared.MainLayout
@inject IRepository repo;

<p style="color: @appState.Color">Index</p>

<div>
    <MoviesList Movies="movies"/>

</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code {
    [CascadingParameter] public AppState appState { get; set; }

    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = repo.GetMovies();
    }

    public void AddNewMovie(){
        movies.Add(new Movie() { Id = 4, Title = "Spider-Man: Far From Home 2", ReleaseDate = new DateTime(2019, 7, 2)  });
    }
}